<p id="notice"><%= notice %></p>

<h1>Список всех вагонов</h1>

<table>
  <thead>
    <tr>
      <th>Номер поезда</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @waggons %>
  </tbody>
</table>

<br>

<%= link_to 'Создать новый вагон', new_waggon_path %>
