<p id="notice"><%= notice %></p>

<h1>Список всех вагонов</h1>

<table>
  <thead>
    <tr>
      <th>Поезд</th>
      <th>Вагон</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @waggons.each do |waggon| %>
      <%= render waggon.becomes(Waggon) %>
    <% end %>
  </tbody>
</table>




